* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-image: url(./Components/background2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  box-sizing: inherit;
  padding-bottom: 6.74rem;
}

code {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.carousel-image {
  max-height: 300px; 
  object-fit: cover; 
}

.navbar {
  background-color:  rgb(184, 211, 241);
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: rgb(184, 211, 241);
  color: #000000;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.link {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mb-footer-space {
  margin-bottom: 100px; 
}

.card-container{
  
  margin-top: 10px;
}
.cardbody {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  align-items: center;
  justify-content: center;
  border: 1px solid #0a0a0a; 
  padding: 10px;
}

.card-title {
  font-weight: 700; 
  text-align: center;
}

.card-text {

  text-align: center; 
  margin-top: 10px; 
}

.color-selector {
  height: 15px; 
  width: 20px; 
  padding: 0;
  border: 1px ;
  border-radius: 100px;
  margin-top: 5px; 
  margin-left: 5px;
  cursor: pointer;
}

.col-lg-6 {
  flex: 1; 
  padding-bottom: 150px;
}

.contact-form {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form textarea {
  resize: vertical; 
}

.contact-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
}

.contact-form button:hover {
  background-color: #0056b3;
}



.card-template-2 {
  background-image: url('./Components/background1.jpg');
  background-size: cover;
}

.card-template-3 {
  background-image: url('./Components/card18.jpg');
  background-size: cover;
}

.card-template-4 {
  background-image: url('./Components/card3.jpg');
  background-size: cover;
}

.card-template-5 {
  background-image: url('./Components/card4.jpg');
  background-size: cover;
}

.card-template-6 {
  background-image: url('./Components/card16.jpg');
  background-size: cover;
}

.card-template-7{
  background-image: url('./Components/card\ 6.jpg');
  background-size: contain;
}

.card-template-8{
  background-image: url('./Components/card1.jpg'); 
  background-size: cover;
}

.card-template-9{
  background-image: url('./Components/card15.jpg');
  background-size: cover;
}

.card-template-10{
  background-image: url('./Components/card17.jpg');
  background-size: 100%;
}

.card-template-11{
  background-image: url('./Components/card10.jpg');
  background-size: cover;
}

.card-template-12{
  background-image: url('./Components/card11.jpg');
  background-size: cover;
}

.card-template-13{
  background-image: url('./Components/card12.jpg');
  background-size: cover;
}

.card-template-14{
  background-image: url('./Components/card13.jpg');
  background-size: cover;
}

.card-template-15{
  background-image: url('./Components/card14.jpg');
  background-size: cover;
}



.card-template img {
  width: 100%;
  height: auto;
}

.card-template-column{
  border-right: 2px solid #007bff; 
 
}


.container{
  font-family: 'Poppins', sans-serif ;
  font-weight: 700; 
}

.Plusbutton,
.Minusbutton {
  width: 25px;
  height: 25px; 
  background-color: #ccc; 
  border: 1px solid #999; 
  cursor: pointer; 
  display: inline-flex; 
  justify-content: center; 
  align-items: center; 
  margin: 0 5px; 
}