
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: floralwhite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.carousel-image {
  max-height: 300px; 
  object-fit: cover; 
}

.navbar {
  background-color:  rgb(184, 211, 241);
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: rgb(184, 211, 241);
  color: #000000;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}


.link{
  padding-top: 20px;
  padding-bottom: 20px;
}

.mb-footer-space {
  margin-bottom: 100px; /* Adjust this value as needed */
}